parameters:
    level: 8
    paths:
        - app
        - oxy-ai-readiness.php
        - uninstall.php
    excludePaths:
        - app/Modules/*
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
